*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:calc(100% - 330px);
    margin:auto;
    background-color: aliceblue;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 21.84px 0;
}

ul{
    list-style-type: none;
}

.list ul{
    display: flex;
    gap: 60px;
}    

.icons ul{
    display: flex;
    gap:24px; 
}

a{
    text-decoration: none;
}


.collection-section{
    /*display: flex;
    flex-wrap: wrap;
    text-align: center;*/
    gap:30px;
    padding: 80px ;
    
}

img{
    width:100%;
}

.collection{
    width:calc( (100% - 90px) / 4);
}

h2{
    margin-top: 23px;
}

a{
    font-family: inter;
    font-size: 14px;
}